* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Inter";
}

:root {
  --primary-color: #ff8f41;
}

.flex {
  display: flex;
}

.flex-d-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.container {
  background-image: url("Login.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
}


.login-box {
  width: 35rem;
  padding: 3em;
}

.login-box-brand-icon {
  align-items: center;
  flex: 2;
}

.brand-logo {
  height: 5em;
}

.login-box-body {
  flex: 5;
}

.login-box-header {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

label, .input-wrapper a {
  font-size: 16px;
  font-weight: 500;
}

.input-wrapper input {
  height: 4em;
  outline: none;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.1);
  border: 1px solid grey;
  margin-top: 15px;
  margin-bottom: 20px;
}

.input-wrapper span {
  margin-bottom: 20px;
  font-weight: 500;
}

.input-wrapper a{
  color: var(--primary-color);
}

.input-wrapper-labels{
  justify-content: space-between;
}

.login-button {
  height: 4em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 28px;
  font-weight: 500;
  font-family: "Inter";
  font-size: 16px;
}

hr {
  margin-bottom: 20px;
}

.continue-with {
  flex-direction: row;
  font-size: 15px;
  font-weight: 400;
}

.continue-with:before,
.continue-with:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto 10px
}

.login-footer{
  gap: 1em;
  margin-top: 10px;
}

.login-footer img {
  height: 20px;
}

.login-footer .icon-wrapper {
  background-color: #efeeec;
  border: 2px solid #e9e8e6;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 767px) {
  .container {
    justify-content: center;
  }
  .login-box {
    background-color: rgba(256,256,256,0.8);
    width: inherit;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
  .login-box {
    margin-right: 5em;
  }
  .container {
    padding-right: 4em;
  }
}
